.App {
  text-align: center;
  font-family: "Ubuntu";
  background-color: white;
}

.App-header {
  background-color: #dddddd;
  min-height: 10vh;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: rgb(0, 102, 87);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
